@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono&display=swap');

:root{
  --violet: #cdb4db;
  --rose-pale: #ffc8dd;
  --rose: #ffafcc;
  --bleu-clair: #bde0fe;
  --bleu: #a2d2ff;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: none;
}

.container {
  text-align: center;
}

.landingPage {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#title{
  font-size: 3em;
  font-family: 'Ubuntu Mono', monospace;
  color: var(--rose-pale);
  letter-spacing: 5px;
  text-align: center;
}

#splash{
  font-size: 1em;
  font-family: 'Space Mono', monospace;
  color: var(--bleu-clair);

  /* animation */
  -webkit-animation: breathing 5s ease-out infinite normal;
  animation: breathing 5s ease-out infinite normal;

  text-align: center;
  
  top: 3px;
  position: relative;
}


.buttons {
  position: absolute;
  

  text-align: center;

  font-size: calc(10px + 2vmin);
  display: inline-block;
  width: 100%;
  top: 1%;
}

.buttons > a{
  padding: 20px;
  color: var(--rose);
  text-decoration: none;
  font-family: 'Space Mono', monospace;
}
a:hover{
  color: #FFF;
}
.socials{
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.socials > a{
  padding: 20px;
  color: var(--bleu-clair);
  text-decoration: none;
  font-family: 'Space Mono', monospace;
}

.socials > a:hover{
  color: #FFF;
}



@-webkit-keyframes breathing {
  0%{
    -webkit-transform: scale(0.9) translate(0,-200%);
    transform: translate(0,-200%) scale(0.9);

  } 
  25% {
    -webkit-transform: translate(0,-200%) scale(1);
    transform: translate(0,-200%) scale(1);
  }
  60% {
    -webkit-transform: translate(0,-200%) scale(0.9);
    transform: translate(0,-200%) scale(0.9);
  } 
  100% {
    -webkit-transform: translate(0,-200%) scale(0.9);
    transform: translate(0,-200%) scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: translate(0,-200%) scale(0.9);
    -ms-transform: translate(0,-200%) scale(0.9);
    transform: translate(0,-200%) scale(0.9);
  }
  25% {
    -webkit-transform: translate(0,-200%) scale(1);
    -ms-transform: translate(0,-200%) scale(1);
    transform: translate(0,-200%) scale(1);
  }
  60% {
    -webkit-transform: translate(0,-200%) scale(0.9);
    -ms-transform: translate(0,-200%) scale(0.9);
    transform: translate(0,-200%) scale(0.9);
  }
  100% {
    -webkit-transform: translate(0,-200%) scale(0.9);
    -ms-transform: translate(0,-200%) scale(0.9);
    transform: translate(0,-200%) scale(0.9);
  }
}

