@import url("https://fonts.googleapis.com/css?family=Poppins|Lato|Roboto+Mono|Ubuntu+Mono&display=swap");

.Footer {
  position: relative;
  padding: 20px 0;
  font-family: 'Roboto', sans-serif;
  height: 1vh;
  width: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.Footer__text {
  font-size: 1.2rem;
  color: #bde0fe;
  text-align: center;
    font-weight: 500;
    font-family: 'Ubuntu Mono', sans-serif;
    
    cursor: default;
}

.Footer__button {
    background: none;
    border: none;
    color: #ffafcc;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    margin-left: 10px;
    font-family: 'Roboto Mono', sans-serif;
    text-decoration: none;
}
.Footer__button:hover {
    color: #fff;
}