body {
    background-color: black;
    overflow: hidden;
}

.bb{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.cc{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 754;
    height: 697;
}
