@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@300&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: #000;
}

.container{
  /*center*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
   text-align: center;
}

.container h3{
  font-size: 2.5em;
  color: #cdb4db;
  font-family: 'Ubuntu Mono', sans-serif;
}

.container p{
  font-size: 2.5em;
  color: #bde0fe;
  font-family: 'Ubuntu Mono', sans-serif;
}

.container a{
  font-size: 1em;
  color: #ffafcc;
  font-family: 'Ubuntu Mono', sans-serif;
  text-decoration: none;
}

.container a:hover{
  color: #fff;
}
