@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    background-color: black;
    cursor: default;
    font-family: 'Space Mono', monospace;
}

.main{
    width: 50%;
    margin: 0 auto;
    position: relative;

    left: 50%;
    transform: translate(-100%, 0);

    border-color: #ffc8dd;
    border-style: solid;
    border-width: 1px;
}
.box{
    background-color: black;
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
}

h1{
    font-family: 'Quicksand', sans-serif;
    font-size: 2em;
    text-align: center;
    padding: 1em;
}

.jdo-home{
    cursor: pointer;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 17px;
    position: absolute;
    z-index: 300;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-decoration: none;

    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 50px;
  }

  .jdo-home::before{
    content: "";
    border: 3px solid white;
    position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .jdo-home:hover::before{
    left: 25px;
    top: 15px;
    width: 85%;
    padding: 10px;
    background-color: white;
    z-index: -1;
  }

  .jdo-home:hover{
    color: #282828
  }