@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono&display=swap');

:root{
  --violet: #cdb4db;
  --rose-pale: #ffc8dd;
  --rose: #ffafcc;
  --bleu-clair: #bde0fe;
  --bleu: #a2d2ff;
  --white: #ffffff;
}

*{
    cursor: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.about-container {
  text-align: center;
}

.about {
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.Hero{
    flex: 2;
    position: absolute;
    right: 8em;
    width: 700px;
    text-align: left;
    font-size: calc(10px + 2vmin);

}

.heroImage{
    flex: 1;
    position: absolute;
    left: 8em;
}

#heroImg{
    width: 100%;
    height: 100%;
}


#mainP{
    font-size: 1em;
    font-family: 'Ubuntu Mono', sans-serif;
    color: var(--rose-pale);
    text-align: left;
}

.BLEU{
    color: var(--bleu);
}

.controllers{
    /* bottom right */
    position: absolute;
    bottom: 0;
    right: 0;
    /* width and height */
    width: 100px;
    height: 100px;
    /* color */
    color: var(--bleu);
}

.controllers > .next{
  font-size: 1.5em;
}
.controllers > .previous{
  font-size: 1.5em;
}
.controllers > .next:hover{
    color: var(--white);
}


.controllers > .previous:hover{
    color: var(--white);
}


.buttons {
  position: absolute;
    top: 0;

    left: 50%;
    transform: translateX(-50%);

    font-size: calc(10px + 2vmin);

    width: 100%;
}
  .buttons > a{
    padding: 20px;
    color: var(--rose);
    text-decoration: none;
    font-family: 'Space Mono', monospace;
  }
  a:hover{
    color: #FFF;
  }




  @media screen and (max-width: 620px) {

    body{
      min-height: 140vh;
    }
    .heroImage {
      /* left: 8em; */
      /* display: none; */
      bottom: 56%;
      
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }

    #heroImg{
      width: 100%;
      height: 100%;
    }

    .Hero {
      /* right: 8em; */
      /* width: 700px; */
      left: 50%;
      width: 90%;
      transform: translateX(-50%);
      top: 50%;
      text-align: center;
      background-color: #000000;
      z-index: 10;
      position: absolute;
    }

    .controllers {
        bottom: 3%;
        width: 100%;
        position: fixed;
        height: 5%;
        justify-content: space-between;
        display: flex;
    }

    .next {
      position: relative;
      top: 0;
      width: 50px;
    }
    
    /* Element | http://127.0.0.1:5500/src/about/about.html */
    
    .previous {
      position: relative;
      top: 0;
      width: 50px;
    }

    #mainP{
      font-size: 5vmin;
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
    }

  }

  @media screen and (min-width: 620px) and (max-width: 900px) {
    
/* about.css | https://5555-aweirdwhale-aweirdwhale-9tzr9pucikj.ws-eu89.gitpod.io/src/about/about.css?_cacheOverride=1678048452469 */

.heroImage {
  left: 10%;
}

.Hero {
  right: 1em;
  width: calc(10em + 10vmin);
}

#heroImg {
  width: 10em;
  height: 10em;
}

  }


  @media screen and (min-width: 900px) and (max-width: 1111px) {
    
/* about.css | https://5555-aweirdwhale-aweirdwhale-9tzr9pucikj.ws-eu89.gitpod.io/src/about/about.css?_cacheOverride=1678048452469 */

.heroImage {
  /* left: 8em; */
  left: 10%;
}

.Hero {
  /* right: 8em; */
  /* width: 700px; */
  right: 1em;
  width: calc(10em + 10vmin);
}

#heroImg {
  /* width: 15em; */
  /* height: 15em; */
  width: 10em;
}

/* about.css | https://5555-aweirdwhale-aweirdwhale-9tzr9pucikj.ws-eu89.gitpod.io/src/about/about.css?_cacheOverride=1678049195526 */

@media screen and (min-width: 620px) and (max-width: 900px) {
  #heroImg {
    height: 10em;
  }
}

/* about.css | https://5555-aweirdwhale-aweirdwhale-9tzr9pucikj.ws-eu89.gitpod.io/src/about/about.css?_cacheOverride=1678049279928 */

.Hero {
  /* right: 8em; */
  /* width: 700px; */
  right: 4%;
  width: 449px;
}

.heroImage {
  /* left: 8em; */
  left: 3%;
}

#heroImg {
  /* width: 15em; */
  /* height: 15em; */
  width: 13em;
  height: 13em;
}

  }


  @media screen and (min-width: 1111px) and (max-width: 1574px) {
    
/* about.css | https://5555-aweirdwhale-aweirdwhale-9tzr9pucikj.ws-eu89.gitpod.io/src/about/about.css?_cacheOverride=1678048452469 */

.heroImage {
  /* left: 8em; */
  left: 10%;
}

.Hero {
  /* right: 8em; */
  /* width: 700px; */
  right: 1em;
  width: calc(10em + 10vmin);
}

#heroImg {
  /* width: 15em; */
  /* height: 15em; */
  width: 10em;
}

/* about.css | https://5555-aweirdwhale-aweirdwhale-9tzr9pucikj.ws-eu89.gitpod.io/src/about/about.css?_cacheOverride=1678049195526 */

@media screen and (min-width: 620px) and (max-width: 900px) {
  #heroImg {
    height: 10em;
  }
}

/* about.css | https://5555-aweirdwhale-aweirdwhale-9tzr9pucikj.ws-eu89.gitpod.io/src/about/about.css?_cacheOverride=1678049279928 */

.Hero {
  /* right: 8em; */
  /* width: 700px; */
  right: 4%;
  width: 449px;
}

.heroImage {
  /* left: 8em; */
  left: 3%;
}

#heroImg {
  /* width: 15em; */
  /* height: 15em; */
  width: 13em;
  height: 13em;
}

/* about.css | https://5555-aweirdwhale-aweirdwhale-9tzr9pucikj.ws-eu89.gitpod.io/src/about/about.css?_cacheOverride=1678049506932 */

.Hero {
  /* right: 8em; */
  /* width: 700px; */
  right: 1em;
  width: 575px;
}

.heroImage {
  /* left: 8em; */
  left: 6%;
}

  }
