@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat:wght@200&display=swap');

:root{
  --violet: #cdb4db;
  --rose-pale: #ffc8dd;
  --rose: #ffafcc;
  --bleu-clair: #bde0fe;
  --bleu: #a2d2ff;
  --white: #ffffff;
}

*{
    cursor: none;
}

body {
  background-color: rgb(0, 0, 0);
  height: 100vh;    
  margin: 0px;  
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 4vw, 100px);

  flex-direction: row;
}

body:hover > #trailer {
  opacity: 1;
}

#trailer {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 20px;
  
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 10000;
  
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease;
  
  display: grid;
  place-items: center;
}

#trailer:not([data-type=""]) > #trailer-icon {
  opacity: 1;
}

#trailer-icon {
  font-size: 6px;
  line-height: 4px;
  
  opacity: 0;
  transition: opacity 400ms ease;
}

.prjs {
  width: 100%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: clamp(10px, 4vw, 100px);
 }

 
.interactable {
  aspect-ratio: 1 / 1.5;
  width: clamp(120px, 40vmin, 600px);
  height: clamp(120px, 40vmin, 600px);
  background-position: center 50%;
  background-size: 100%; 
  background-repeat: no-repeat;
  opacity: 0.6;
  
  transition: background-size 400ms ease, opacity 400ms ease;

  border: solid 2px var(--bleu);
}

.interactable:hover {
  background-size: 105%;
  opacity: 0.9;
}


  .work-buttons{
    position: absolute;
    top: 0;

    left: 0;
    text-align: center;
    width: 100%;

    font-size: calc(10px + 2vmin);
    /* width: 100%; */
  }
  .work-buttons > a{
    padding: 20px;
    color: var(--rose);
    text-decoration: none;
    font-family: 'Space Mono', monospace;
  }
  a:hover{
    color: #FFF;
  }

@media screen and (max-width: 520px){
  .prjs {
    height: 110%;
    width: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-top: 8em;
   }

   .work-buttons {
    position: absolute;
    /*! top: 5px; */

    /*! left: 76%; */
    transform: translateX(-50%);

    font-size: calc(10px + 2vmin);
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 100;
    background-color: #0000000f;
    backdrop-filter: blur(5px);
  }
   

.interactable {
  /* width: clamp(120px, 40vmin, 600px); */
  /* height: clamp(120px, 40vmin, 600px); */
  width: clamp(300px, 80vmin, 700px);
  height: clamp(300px, 80vmin, 700px);
}

}

@media screen and (min-width: 520px) and (max-width: 616px){
  
  .prjs {
    height: 110%;
    width: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-top: 18em;
   }

   .work-buttons {
    position: absolute;

    font-size: calc(10px + 2vmin);
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: #0000000f;
    backdrop-filter: blur(5px);
  }

   .interactable {
    /* width: clamp(120px, 40vmin, 600px); */
    /* height: clamp(120px, 40vmin, 600px); */
    width: clamp(300px, 80vmin, 700px);
    height: clamp(300px, 80vmin, 700px);
  }
}

@media screen and (min-width: 616px) and (max-width: 680px) {
  .prjs {
    height: 110%;
    width: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-top: 25em;
   }

   .work-buttons {
    position: absolute;

    font-size: calc(10px + 2vmin);
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: #0000000f;
    backdrop-filter: blur(5px);
  }

   .interactable {
    /* width: clamp(120px, 40vmin, 600px); */
    /* height: clamp(120px, 40vmin, 600px); */
    width: clamp(300px, 80vmin, 700px);
    height: clamp(300px, 80vmin, 700px);
  }
}

@media screen and (min-width: 680px) and (max-width: 720px) {
  .prjs {
    height: 110%;
    width: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-top: 30em;
   }

   .work-buttons {
    position: absolute;

    font-size: calc(10px + 2vmin);
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: #0000000f;
    backdrop-filter: blur(5px);
  }

   .interactable {
    /* width: clamp(120px, 40vmin, 600px); */
    /* height: clamp(120px, 40vmin, 600px); */
    width: clamp(300px, 80vmin, 700px);
    height: clamp(300px, 80vmin, 700px);
  }
}

@media screen and (min-width: 720px) and (max-width: 768px) {
  .prjs {
    height: 110%;
    width: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-top: 35em;
   }

   .work-buttons {
    position: absolute;

    font-size: calc(10px + 2vmin);
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: #0000000f;
    backdrop-filter: blur(5px);
  }

   .interactable {
    /* width: clamp(120px, 40vmin, 600px); */
    /* height: clamp(120px, 40vmin, 600px); */
    width: clamp(300px, 80vmin, 700px);
    height: clamp(300px, 80vmin, 700px);
  }
}

@media screen and (min-width: 768px) and (max-width: 800px) {
  .prjs {
    height: 110%;
    width: 100%;
    background-color: black;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    padding-top: 40em;
   }

   .work-buttons {
    position: absolute;

    font-size: calc(10px + 2vmin);
    width: 100%;
    text-align: center;
    z-index: 100;
    background-color: #0000000f;
    backdrop-filter: blur(5px);
  }

   .interactable {
    /* width: clamp(120px, 40vmin, 600px); */
    /* height: clamp(120px, 40vmin, 600px); */
    width: clamp(300px, 80vmin, 700px);
    height: clamp(300px, 80vmin, 700px);
  }
}