@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu+Mono&display=swap');

:root{
  --violet: #cdb4db;
  --rose-pale: #ffc8dd;
  --rose: #ffafcc;
  --bleu-clair: #bde0fe;
  --bleu: #a2d2ff;
  --white: #ffffff;
}

*{
    cursor: none;
    text-decoration: none;
    font-family: 'Space Mono', monospace;
}

body{
    background-color: #000;
    overflow: hidden;
}

.jdo-body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

.jdo-title {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: center;
}
.jdo-title > h1 {
    color: var(--violet);
    font-family: 'Ubuntu Mono', sans-serif;
}

.jdo-content{
    width: 50%;
    height: 100vh;
    overflow: hidden;

    display: flex;
    gap: 25vmin;
}

.jdo-content > .p{
    position: absolute;
    top: 48%;
    left: 70%;
    width: 50%;
    transform: translate(-50%, -50%);
    color: var(--bleu-clair);
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 1.5em;
    
}

.jdo-content > .jdo-img {
    position: absolute;
    top: 50%;
    left: 20%;
    width: 20%;
    transform: translate(-50%, -50%);
}

.jdo-content > .p > .condition {
    position: absolute;
     transform: translateY(200%);
    color: var(--rose-pale);
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: .5em;
}

#source-link {
    bottom: 60px;
}
  
  
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(240, 188, 208, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: none;  
    display: inline-flex;
    gap: 5px;
    right: 60px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(240, 188, 208, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
    color: #000;
  }
  
  #source-link > span {
    color: #000;
    font-weight: 400;
    top: 50%;
    transform: translateY(-10%);
    cursor: none;
  }

  .meta-link > .jdo-icon {
    color: var(--violet);
  }

  #yt-link > span{
    color: #000;
    font-weight: 400;
    top: 50%;
    transform: translateY(-10%);
    cursor: none;
  }
  #yt-link > .jdo-icon {
    color: var(--violet);
  }

  .jdo-home{
    cursor: none;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 17px;
    position: absolute;
    z-index: 300;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    text-decoration: none;

    top: 0;
    left: 0;
    padding-top: 20px;
    padding-left: 50px;
  }

  .jdo-home::before{
    content: "";
    border: 3px solid white;
    position: absolute;
    left: 25px;
    top: 25px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
  }

  .jdo-home:hover::before{
    left: 25px;
    top: 15px;
    width: 85%;
    padding: 10px;
    background-color: white;
    z-index: -1;
  }

  .jdo-home:hover{
    color: #282828
  }